
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	font-family: 'Open Sans', sans-serif !important;
	background: url(../img/bg.jpg) fixed no-repeat;
	/*background-size: 100% auto;*/
	font-weight: lighter;
}
h1 {
	font-size: 140%;
}
h2, h3 {
	font-weight: normal;
}
.smaller {
	font-size: 80%;
}
#welcome-blurb {
	font-size: 18pt;
	line-height: 1.3em;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	padding-top: 30px;
}
#welcome-blurb h1 {
	text-transform: uppercase;
	font-size: 24pt;
}
#welcome-blurb > * {
	padding: 20px 0;
}


#main {
	background: white;	
	padding-bottom: 50px;
}

#nabar-offset {
	height: 50px;
}
.section-title {
	margin: 20px 0 40px 0;
	text-align: center;
}
.section-title h1 {
	background: rgb(26, 153, 62);
	display: inline-block;
	padding: 0 35px;
	text-transform: uppercase;
	color: #fff;
}

.team {
	text-align: center;
}
.team h2 {
	font-size: 16pt;
}
.team h3 {
	font-size: 10pt;
	line-height: 1em;
	padding-bottom: 5px;
}

.contact {
	text-align: center;
	font-size: 130%;
	line-height: 1.6em;
}
.contact p {
	padding-bottom: 20px;
}


#home.section {
	background: none;
	padding-bottom: 0px;
}

.featurette-divider {
	margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
	padding-top: 70px; /* Vertically center images part 1: add padding above and below text. */
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
	margin-top: -70px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/* Adjust it for smaller sizes */
@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	#main {
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar {
		padding: 0px 20px;
	}

	#welcome-blurb {
		padding-top: 0px;
	}

	#nabar-offset {
		height: 0px;
	}
}